/* @font-face {
    font-family: 'NotoSansTC';
    src: url('../font/NotoSansTC-VariableFont_wght.ttf') format('truetype');
}  
@font-face {
    font-family: 'Open_Sans';
    src: url('../font/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}   */
* {
    box-sizing: border-box;
    /* font-family: 'NotoSansTC', 'Open_Sans'; */
}
body {
    position: relative;
    margin: 0;
    padding: 4rem;
    background-color:#BFDABD;
}

/* -----header----- */
.header {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap; 
}

.header a {
    text-decoration: none;
    color: #000;
}
.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.h-right {
    text-align: right;
}
.h-right a {
    font-size: 1.2rem;
}
.h-left {
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: start;
    margin: 0; 
    margin-right: -10px;
}


.option{
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.v-bar {
    height: 30px;
    border-left: #3535356e solid 1px;
}

.main-sign {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sign-lb {
    width: 60%;
}
.title {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    margin: auto;
}
.sign-rb {
    width: 30%;
}
.sign-rb img {
    max-width: 100%;
}
/* . */
.footer {
    height: 12rem;
    width: 100%;
    padding: 2.5rem 3rem;
    background-color: #475841;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.foot-l ,.foot-r {
    width: 50%;
}

.foot-l p{
    font-weight: 600;
    margin: 1.2rem auto;
}

.foot-l p:first-child {
    font-size: 2rem;
}

.foot-r {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.foot-r p {
    margin: 0.2rem auto;
}

@media screen and (max-width: 480px) {
    :root {
        --content-width: 30rem;
    }
    .title, .menu {
        width: 100%;
    }
}